<div class="card h-100">
  <div class="card-header">{{ trip.name }}</div>
  <img src="assets/images/{{ trip.image }}" alt="trip thumbnail" class="card-img-top">
  <div class="card-body d-flex flex-column">
    <h6 class="card-subtitle mb-2 text-muted">
      {{ trip.resort }}, {{ trip.stars }} stars
    </h6>
    <p class="card-subtitle mt-3 mb-3 text-muted">
      {{ trip.length }} days only {{ trip.perPerson | currency:'USD':'symbol' }} per person
    </p>
    <p class="card-text flex-grow-1" [innerHTML]="trip.description"></p>
  </div>

  <!-- Edit Trip Button (Only Visible if Logged In) -->
  <div class="card-footer" *ngIf="isLoggedIn()">
    <button (click)="editTrip(trip)" class="btn btn-info">Edit Trip</button>
  </div>
</div>

 