<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel - Travlr Getaways</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header}}  <!-- Includes the header partial -->

            <div id="contents">
                <div class="box">
                    <div>
                        <div class="body">
                            <h1>Travel</h1>
                            <ul id="sites">
                                {{#each trips}}
                                <li>
                                    <a href="/travel"><img src="/images/{{image}}" alt="{{name}}"></a>
                                    <h2><a href="/travel">{{name}}</a></h2>
                                    {{{description}}}  <!-- Allows HTML tags from JSON -->
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {{> footer}}  <!-- Includes the footer partial -->
        </div>
    </div>
</body>
</html>
